In [1]:
a= 6
b= 5
sum = a + b
print (sum)

11

In [2]:
a= 8
b= 9
c=2
sum = a + b + c
print(sum)

19

In [3]:
first_name = "yasss"
last_name = "min"
full_name = first_name + last_name
print(full_name)

yasssmin

In [4]:
a= 5
b= 9
print(a+b)

14

In [5]:
x=50
x=x+9
print(x)

59

In [6]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

total = num1 + num2
print("Total:", total)

Enter first number:  4
Enter second number:  4

Total: 8

In [7]:
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
c = int(input("Enter number 3: "))

print("Sum =", a + b + c)

Enter number 1:  3
Enter number 2:  3
Enter number 3:  3

Sum = 9

In [8]:
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
c = int(input("Enter number 3: "))

print("Sum =", a + b + c)

Enter number 1:  3
Enter number 2:  4
Enter number 3:  5

Sum = 12

In [11]:
a = int(input("Enter number 1: "))
b = float(input("Enter number 2: "))
c = float(input("Enter number 3: "))

print("Sum =", a + b + c)

Enter number 1:  5
Enter number 2:  6
Enter number 3:  7

Sum = 18.0

In [12]:
num = 10
text = " apples"
print(str(num) + text)

10 apples

In [13]:
num = 10
text = " bananass"
print(str(num) + text)

10 bananass

In [14]:
def Volume(r,h):
    v= 22/7 * r*r * h
    return v

In [15]:
Volume(7,12)

1848.0

In [16]:
Volume(2,90)

1131.4285714285713

In [17]:
age = int(input("enter your age in years: "))
if age < 18:
    print("you're not eligible to vote")
elif age >= 18 and age < 65:
    print("you're eligible to vote")
else:
    print("too old to vote")

enter your age in years:  30

you're eligible to vote